.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* выше установили ограничения для секции */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 0;
}

/*Яндекс Практикум*/
.logo {
  height: 32px;
  width: 228px;
}

/*Яндекс Практикум*/
.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

/*Научиться учиться*/
.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 1;
}

/*Мальчик с собакой*/
.header__main-illustration {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
}

/*текст со ссылкой*/
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}

/*Синий фон*/
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: -1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/*________________________________________________________________________
Body
________________________________________________________________________
  Блок description
*/

/*Блок descripton в целом*/
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/*Блок содержимого*/
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/*Левая колонка*/
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}

/*Правая колонка*/
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  min-height: 30px;
  gap: 30px;
  margin: 0;
}

/*Содержимое правой колонки*/
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

/*Акцент на выводе*/
.two-columns__span-accent {
  font-weight: bolder;
}


/*________________________________________________________________________
  Блок digits 
*/
/*Блок digits в целом*/
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

/*Заголовок Цифры и факты*/
.section-title {
  text-align: center;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

/*Подзаголовок Про учебу и мозг*/
.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 20px 0 0;
}

/*Taблица*/
.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}


/*ячейки таблицы*/
.table__cell {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.table__cell_theme_white {
  width: 250px;
  margin: 60px 0 0;
}

/*Заголовок в ячейке таблицы*/
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

/*Текст ниже заголовка в ячейке таблицы*/
.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/*________________________________________________________________________
  Блок feynman 
*/
.feynman {
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  z-index: -1;
}

/*Заголовок*/
.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 70px;
}

/*Подзаголовок*/
.feynman__subtitle {
  margin: 0;
  width: 648px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

/*Гиперссылка*/
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/*________________________________________________________________________
  Блок kaufman 
*/
.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  z-index: -1;
  overflow: hidden;
  padding: 90px 0;
  margin: 0;
}

.section-title_theme_dark {
  width: 60%;
  color: white;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  width: 60%;
  color: white;
  margin: 0;
}

.table_theme_dark {
  margin: 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/*________________________________________________________________________
  Блок footer 
*/
/*Общая часть*/
.footer {
  background-color: #1f1f1f;
  z-index: 0;
  min-height: 350px;
  display: flex;

}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
}

/*Левая часть футера*/
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {}

.footer__column_content_social {}


.logo_place_footer {
  margin: 0;
}

.footer__autor {
  padding: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

/*Правая часть футера*/

/*О практикуме*/

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  list-style-type: none;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.footer__column-link {
  display: inline;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  color: white;
}

/*Cоцсети*/
.footer__social-icon {
  height: 16px;
  width: 16px;
  border: 0;
}